<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/hover.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js" ></script>
		<script src="https://cdn.firebase.com/v0/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>

	<body x-ng-app="TicTac" x-ng-controller="allCtrl">
		<div id="start" x-ng-hide="ttt.startGame">
			<img src="images/icon.png" />
			<h2></h2>
			<form x-ng-submit="makeBoard()">
				# of players  <input type="text" size="2" x-ng-model="ttt.playerNumber" /><br /><br />
				board size  <input type="text" size="2" x-ng-model="ttt.xsquared" /><br /><br />
				<input type="submit" style="font-family: 'Roboto'; color: gray; background-color: #79BD8F; height: 50px; width: 175px; font-size: 20px; border-radius: 10px" value="Let's do this!" />
			</form>
		</div>
		<div id="main" x-ng-style="mainSize()">
			<div x-ng-repeat="row in ttt.board track by $index" x-ng-class="{clear:true}" x-ng-style="rowSize()">
				<div x-ng-repeat="cell in row track by $index" 
				x-ng-class="{gray:(ttt.board[$parent.$index][$index] == ttt.players[0].piece || ttt.board[$parent.$index][$index] == ttt.players[2].piece), yellow:(ttt.board[$parent.$index][$index] == ttt.players[1].piece || ttt.board[$parent.$index][$index] == ttt.players[3].piece), cell: true, 'pulse-shrink': ttt.board[$parent.$index][$index] == ''}"
				x-ng-click="ticClick($parent.$index,$index); checkWin($parent.$index,$index,ttt.board[$parent.$index][$index]);">
				{{cell}}
				</div>
			</div>
		</div>
		<div id="scoreBoard" x-ng-show="ttt.startGame">
				<div class="cell" style="background: rgba(175,175,175,0.7)">
					{{ttt.turn}}
				</div>
				<br />
			{{ttt.players[0].piece}}   {{ttt.players[0].tally}}<br />
			{{ttt.players[1].piece}}   {{ttt.players[1].tally}}<br />
			{{ttt.players[2].piece}}   {{ttt.players[2].tally}}<br />
			{{ttt.players[3].piece}}   {{ttt.players[3].tally}}<br />
		</div>
	</body>
</html>
